{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %} 
  <h1>Об авторе</h1>
  <article>
    <ul>
      <li>
        Создатель проекта: Кушко Данил
      </li>
      <li>
        Мой GitHub: <a href="https://github.com/DanilKushko">https://github.com/DanilKushko</a> 
      </li>
      <li>
        Мой VK: <a href="https://vk.com/molodoygolodniy">https://vk.com/molodoygolodniy</a> 
      </li>
    </ul>
    <div class="container py-5">
      <p><img src="{% static 'img/1.png' %}" alt="" align="left" 
        vspace="5" hspace="5"> 
        "Программированием я занимаюсь уже не первый год. Всё началось в школе, когда в 
        классе 8 мы пришли на урок информатики. Там мы написали первые строки кода на языке 
        Pascal ABC. Тогда было ничего не понятно... Даже не заинтересовало. Уже в 10 классе 
        мы начали кодить на языке C++. А в 11 классе я уже писал первые строки на Python. 
        Сейчас я учусь на Яндекс Практикуме и учусь в университете, моя специальность - 
        <b>Информационная безопасность.</b> <span>&#129299;</span>"       
      </p>
      <p>
        Жду новый год, чтобы Дед Мороз принёс мне подарки, а наступающий 2023 год стал продуктивный
        и полон приятных неожиданностей.
      </p>
      <p>
        Нравятся задания Практикума, рабочая атмосфера, общение со студентами моей когорты. Очень интересно
        какие темы и уроки будут в следующих модулях. Даже представить себе не могу...
        Бывает трудно, сложно и мотивация покидает меня. Поддержка для меня важна. Я получаю и поддерживаю в ответ.
        Бывает что-то не получается, какую-то задачу решаю сутками... Но это не важно, если результат достигается. 
        Как говорил великий философ Кама Пуля:<em> "Братишка, не важно с какой скоростью ты движешься, главное не останавливайся".</em>
        Также жду финала всего обучения, интересен момент, когда время инвестированное в учёбу, начнет приносить
        свой плоды.<span>&#128378</span>
      </p>
      <p> 
        Дорогой читатель данной страницы, хочу пожелать тебе успехов, радости, веселия. 
        Если ты <b>дочитал до этого момента</b>, то я тебя поздравляю, ты красавчик <span>&#x1F609</span>
     </p>
     <ul>
        <i> В заключении прошу строго не судить мои слова, я не писатель. Всех обнял, приподнял, поставил! </i><span>&#128139</span>
     </ul>
    </div>
  </article>

{% endblock %}